body {
    display: grid;
    place-items: center;
    width: 600px;
    height: 600px;
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.5fr 1fr 0.5fr;
}

textarea {
    width: 90%;
    height: 95%;
    font-size: 18px;
}

button {
    width: 30%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: skyblue;
}