body {
    display: grid;
    place-items: center;
    width: 600px;
    height: 600px;
    margin: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.3fr 0.1fr 1fr 0.1fr;
    column-gap: 10px;
    row-gap: 0px;
}

h1 {
    font-size: 35px;
    margin: 0px;
}

textarea {
    width: 90%;
    height: 95%;
    font-size: 18px;
}

button {
    width: 30%;
    padding: 12px;
    margin: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: skyblue;
}

p {
    font-size: 100px;
    margin: 0px;
}